<ifModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine on

    RewriteRule ^css/ - [L]
    RewriteRule ^js/ - [L]
    RewriteRule ^img/ - [L]
    RewriteRule ^fonts/ - [L]

#   cas de l'utilisation d'un routeur php
   RewriteRule (.*) index.php [L]

</ifModule>